<div>
    <nav class="avatar" id="head" class="navbar navbar-expand-lg navbar-dark" style="background-color:#67217a;">
        <a class="navbar-brand" href="#" style="color: white;">Marvellous Portal</a>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link" routerLink="/events" routerLinkActive="active">Events</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLink="/special" routerLinkActive="active">Special Events</a>
            </li>
        </ul>
      </div>
        <button mat-icon-button aria-label="Example icon-button with a login icon"  *ngIf="!_authService.loggedIn()" routerLink="/login" routerLinkActive="active" style="color:white;">
            <mat-icon>login</mat-icon>
        </button>
        <button  mat-icon-button aria-label="Example icon-button with a login icon"  *ngIf="_authService.loggedIn()" (click)="_authService.logoutUser()"  style= "color: white;">
            <mat-icon>logout</mat-icon>
        </button>
    </nav>
</div> 

