<app-header></app-header>
<div class="container">
<div class="py-5">
    <div class="row">
      <div class="col-md-4 mx-auto">
        <span class="anchor" id="formLogin"></span>
  
        <!-- form card login -->
        <div class="card rounded-0">
          <div class="card-header">
            <h3 class="mb-0" style="text-align: center;">Enrollment Form</h3>
          </div>
          <div class="card-body">
            <form class="form">
                <div class="form-group">
                  <label>First Name</label>
                  <input type="text" class="form-control rounded-0" [(ngModel)]="EnrollEventData.fname" name="fname" required>
                </div>
                <div class="form-group">
                    <label>Last Name</label>
                    <input type="text" class="form-control rounded-0" [(ngModel)]="EnrollEventData.sname" name="sname" required>
                  </div>
                <div class="form-group">
                    <label>Topic</label>
                    <input type="text" class="form-control rounded-0" [(ngModel)]="EnrollEventData.topic" name="topic" required>
                  </div>
                <div class="form-group">
                  <label>Email</label>
                  <input type="text" class="form-control rounded-0" [(ngModel)]="EnrollEventData.email" name="email" required>
                </div>
                <div style="text-align: center;">
                    <button class="btn btn-primary" (click)="EnrollEvent()"
                     style="background-color:#67217a; border-color: #67217a;">Enroll</button> 
                </div>
            </form>
          </div>
          <!--/card-block-->
        </div>
        <!-- /form card login -->
      </div>
    </div>
  </div>
</div>